 #hamburger, #ch-menu{
    display:none;
}

body{
    --inaltime-meniu:50px;
    --latime-buton:217px;
    --culoare-meniu:var(--culoare1-tabel);
    --highlight-meniu:#e67fb2;
}
nav{
    --text-meniu:black;
    background-color: var(--culoare1-tabel);
    width: calc(100vw - 18px);
    height: var(--inaltime-meniu);
    position: sticky;
    top:0;
    margin-left: calc(-1 * var(--spatiere-pagina));
    z-index:1;
}
ul.meniu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > li{
        flex-grow: 0;
        flex-shrink:0;
        flex-basis: var(--latime-buton);
        transition: box-shadow 0.5s ease-out;
        &:hover{
            box-shadow: inset 0 0 15px var(--culoare-highlight);   
        }
        
    }
    li {
        width:var(--latime-buton);
        height:var(--inaltime-meniu);
        background-color: var(--culoare-meniu);
        overflow:hidden;
        text-align: center;
        border: 1px solid var(--culoare-border-buton);
        transition: background-color 0.3s linear;
        box-sizing: border-box;
        &:hover{
            overflow:visible;
            background-color: var(--highlight-meniu);
        }
        &:hover ul{
            transform:scale(1,1); 
        }
    }
    ul{
        transform-origin: top;
        transition:transform 0.5s linear;
        transform:scale(1,0);
    
    }
    
  
}

ul.meniu, ul.meniu ul{
    padding:0;
    margin: 0;
    list-style-type: none;
}

.subsubmeniu li{
    display: none;
}

ul.meniu li div, ul.meniu li a{
    display:block;
    width:100%;
    height:100%;
    color:var(--text-meniu);
    text-decoration: none;
    font-weight: bold;
    line-height: var(--inaltime-meniu);

}
#acasa-mediu{
    display:none;
}

.sageata {
    opacity: 0;
    transition: all 0.3s linear;
    position: absolute;
    left: 5px;

}

a:hover .sageata {
    opacity: 1;
    display: block;
    transform: translateX(100%);
}