<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>ChicBiju</title>
        
        
        <meta name="keywords" content="produse reduse,  bijuterii, accesoriu, cercei, colier, pret, bratara, comanda, favorite"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Site de Bijuterii.Coliere.Cercei.Bratari.Talismane.Pandantive.Aur.Argint.Reduceri."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <%- include("../fragmente/head.ejs") %>

    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
         <h2>Despre ChicBiju</h2>

         <p>ChicBiju este o companie cu istorie, apreciata de clientii sai pentru produsele idedite si atentia la detalii.
            Aceasta exista inca din 2010, timp in care clientii sai au putut beneficia de cele mai frumoase bijuterii, din
            materiale de calitate si preturi avantajoase.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quod non exercitationem odio laborum asperiores. 
            Obcaecati error totam quam dolor explicabo fuga sapiente? Vel aspernatur dolor cumque, eos cum praesentium!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sint illum eligendi quidem repellendus esse,
            laboriosam eius itaque dolorem at amet non rem saepe aperiam doloremque iure quis nemo similique.
         </p>
         <img id="posterdespre" src="./Resurse/imagini/despre.png" alt="poster" title="poster">

        </main>
        <%- include("../fragmente/footer.ejs") %>
        
    

    </body>
</html>