<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="produse reduse,  bijuterii, accesoriu, cercei, colier, pret, bratara, comanda, favorite"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Site de Bijuterii.Coliere.Cercei.Bratari.Talismane.Pandantive.Aur.Argint.Reduceri."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        
        <link rel="stylesheet" href="/Resurse/css/produse.css" type="text/css" />
        <title>ChicBiju- înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/Resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>

</body>
</html>