<footer>
    <address id="contact">
        <a href="mailto:irina.ciocan@gmail.com">Trimite-ne un mail!</a>
        <a href="tel:+0712345678">Contacteaza servicii clienti!</a><br>
        <a href="https://wa.link/joct1p" target="_blank">WhatsApp</a><br>
        Ne puteti gasi la adresa: <a href="https://goo.gl/maps/9a1BL4Zhvh6fLS3N6" target="_blank">Bucuresti, Str.Independentei, nr. 100</a>
    </address>
        <p> Informatii referitoare la coditiile de retur le gasiti aici <a href="./Resurse/download/inforetur.txt" download >Download Info</a> </p> 
    <p id="banner">Acesta este un proiect școlar!</p>
    <small>Copyright &copy; <time datetime="2023-03-04">4 Martie 2023</time></small>
</footer>